<body>
    <div class="all">
        <div class="left">
            <app-navbar [id] = "id" [mode] = "2"></app-navbar>
        </div>
        <div class="right">
            <div class="title">Mi cuenta</div>
            <div class="datos">
                <h4>Nombre: <span>{{usernow.name}}</span> </h4>
                <h4>Apellidos: <span>{{usernow.lastname}}</span> </h4>
                <h4>Email: <span>{{usernow.email}}</span> </h4>
                <p>Password: <span> **** </span> </p>

            </div>
        </div>
    </div>
</body>
