<div class="welcome">
    <h1>Bienvenido, {{usernow.name}}</h1>
</div>

<div class="actions">
    <button mat-raised-button routerLink="/login">Cerrar sesión</button>
    <button mat-raised-button routerLink="/my-account" [queryParams]="{iduser: id}">Mi cuenta</button>
    <button mat-raised-button *ngIf="mode == 2" routerLink="/my-quotations" [queryParams]="{iduser: id}">Mis
        cotizaciones</button>
    <button mat-raised-button *ngIf="mode == 2" routerLink="/main" [queryParams]="{iduser: id}">Pagina Principal</button>


</div>