.welcome{
    height: 50%;
}
.welcome h1{
    padding: 10% 5% 5% 10%;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 40px;
}
.actions{
    height: 50%;
    display: flex;
    flex-direction: column-reverse;
    padding-left: 10%;
    padding-right: 10%;
}
.actions button{
    background-color: #ffffff;
    color: #255000;
    margin-bottom: 10%;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}