<body>
    <app-home></app-home>
    <div class="all">
        <div class="title">Registrar nuevo usuario</div>
        <div class="form">
            <form [formGroup]="myForm" autocomplete="off">  
                <mat-form-field appearance="legacy">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="Email">
                </mat-form-field> <br>
            
                <mat-form-field appearance="legacy">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" formControlName="password" placeholder="Contraseña">
                </mat-form-field> <br>
                <mat-form-field appearance="legacy">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="name" placeholder="Nombre">
                </mat-form-field> <br>
            
                <mat-form-field appearance="legacy">
                    <mat-label>Apellidos</mat-label>
                    <input matInput formControlName="lastname" placeholder="Apellidos">
                </mat-form-field> <br>
                <mat-form-field appearance="legacy">
                    <mat-label>Teléfono</mat-label>
                    <input matInput formControlName="phone" placeholder="Teléfono">
                </mat-form-field> <br>
            
                <mat-form-field appearance="legacy">
                    <mat-label>DNI</mat-label>
                    <input matInput formControlName="dni" placeholder="DNI">
                </mat-form-field> <br>
        
                <mat-form-field appearance="legacy">
                    <mat-label>Direccion</mat-label>
                    <input matInput formControlName="address" placeholder="direcion">
                </mat-form-field> <br>
            </form>
        </div>
        <button mat-raised-button (click)="saveClient()">Registrar</button>
    </div>
</body>
