<body>
    <div class="all">
        <div class="left">
            <app-navbar [id] = "id" [mode] = "2"></app-navbar>
        </div>
        <div class="right">
            <h1 class="title">Nueva Cotización</h1>
            <div class="options">
                <form [formGroup]="myForm" autocomplete="off">
                    
                    <div class="display">
                        <h3>Tipo de tasa: </h3>
                        <mat-radio-group class="radio">
                            <mat-radio-button class="btnrad" color="primary" value="nominal" (change)="checkradio($event)">Tasa Nominal</mat-radio-button>
                            <mat-radio-button class="btnrad" color="primary" value="efectiva" (change)="checkradio($event)">Tasa Efectiva</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class="display" *ngIf="tipotasa == 'nominal'">
                        <h3>Capitalización: </h3>
                        <mat-form-field class="config">
                            <mat-select formControlName="capital">
                                <mat-option *ngFor="let cap of capits" [value]="cap.cap">{{cap.cap}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="display">
                        <h3>Periodo de gracia: </h3>
                        <mat-form-field class="config">
                            <mat-select formControlName="gracia">
                                <mat-option *ngFor="let gracia of gracias" [value]="gracia">{{gracia}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    
                    <div class="display">
                        <h3>Moneda: </h3>
                        <mat-radio-group class="radio">
                            <mat-radio-button class="btnrad" color="primary" value="soles" (change)="checkmoneda($event)">Soles</mat-radio-button>
                            <mat-radio-button class="btnrad" color="primary" value="dolares" (change)="checkmoneda($event)">Dolares</mat-radio-button>
                        </mat-radio-group>
                    </div>
    
                    <h2>O usar <span>configuración favorita</span></h2>
                </form>
            </div>
            <div class="actions">
                <button mat-raised-button (click)="continue()" >Continuar</button>
                <button mat-raised-button (click)="save()" >Guardar configuración</button>
            </div>
        </div>
    </div>
</body>

