<body>
    <div class="all">
        <div class="left">
            <app-navbar [id] = "id" [mode] = "2"></app-navbar>
        </div>
        <div class="right">
            <h1 class="title">Nueva Cotización</h1>
            <div class="options">
                <h3>Tipo de tasa</h3>
                <h3>Capitalización</h3>
                <h3>Periodo de gracia</h3>
                <h3>Moneda</h3>

                <h2>O usar <span>configuración favorita</span></h2>
            </div>
            <div class="actions">
                <button mat-raised-button>Continuar</button>
            </div>
        </div>
    </div>
</body>

