.all{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.left{
    width: 35%;
    height: 100%;
    background-color: #8db600;
}
.right{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}
.title{
    padding-top: 35px;
    padding-bottom: 20px;
    padding-left: 50px;
    color: #4a4a4a;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 40px;
}
.options{
    padding-left: 5%;
    color: #4a4a4a;
    text-transform: uppercase;

}
.options h3{
    font-weight: lighter;
    padding: 5px;
    font-size: 1.35rem;
}
.options h2{
    font-weight: lighter;
    padding: 5px;
    font-size: 1.35rem;
}
.options span{
    font-weight: bold;
    font-size: 1.35rem;
    text-decoration: underline;
    cursor: pointer;
}
.actions{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5%;
    margin-right: 5%;
}
.actions button{
    margin-right: 20px ;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    background-color: #8db600;
    color: #ffffff;
}
.display{
    display: flex;
    flex-direction: row;
}

.config{
    padding-left: 25px;
}
.radio{
    margin-top: 10px;
    margin-left: 25px;
}
.btnrad{
    margin-left: 20px;
}