body{
    height: 100%;
}
.all{
    width: 100% - 35px;
    padding-left: 35px;
    padding-top: 75px;
}
.title{
    text-transform: uppercase;
    font-weight: bold; 
    color:#2d2d2d;
    font-size: 25px;
    padding-bottom: 35px;
}
.form{
    width: 80%;
    padding-bottom: 25px;
}
form, mat-form-field{
    padding-right: 25px;
    width: 65%;
    font-size: 20px;
}
button{
    background-color: #8db600;
    color: #2d2d2d;
    padding-left: 225px;
    padding-right: 225px;
}