.all{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.left{
    width: 35%;
    height: 100%;
    background-color: #8db600;
}
.right{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.title{
    padding-left: 20px;
}

.mat-elevation-z8{
    padding: 15px;
    margin-left: 100px;
}

.mat-header-cell{
    text-align: center;
}

.mat-row{
    text-align: center;
}

.bottom button{
    margin: 45px;
    margin-left: 20px;
    background-color: #8db600;
    color: #2d2d2d;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 35px;
    padding-top: 2.5px;
    padding-right: 35px;
    padding-bottom: 2.5px;
}