<body>
    <div class="all">
        <div class="left">
            <app-navbar [id] = 'iduser' [mode] = '2'></app-navbar>
        </div>
        <div class="right">
            <h2 class="title">Plan de pagos</h2>

            <table mat-table [dataSource]="pago" class="mat-elevation-z8">
                <ng-container matColumnDef="periodo">
                    <th mat-header-cell *matHeaderCellDef> Periodo </th>
                    <td mat-cell *matCellDef="let item"> {{item.periodo}} </td>
                    
                </ng-container>

                <ng-container matColumnDef="saldo">
                    <th mat-header-cell *matHeaderCellDef>   Saldo </th>
                    <td mat-cell *matCellDef="let item"> {{item.saldo}} </td>
                    
                </ng-container>
                
                <ng-container matColumnDef="interes">
                    <th mat-header-cell *matHeaderCellDef> Intereses </th>
                    <td mat-cell *matCellDef="let item"> {{item.interes}} </td>
                    
                </ng-container>
                
                <ng-container matColumnDef="amortizacion">
                    <th mat-header-cell *matHeaderCellDef> Amortización </th>
                    <td mat-cell *matCellDef="let item"> {{item.amortizacion}} </td>
                    
                  </ng-container> 

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>              
            </table>

            <div class="bottom">
                <button mat-raised-button routerLink="/main" >Volver Inicio</button>
           </div>


        </div>
    </div>
</body>
