.all{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.left{
    width: 35%;
    height: 100%;
    background-color: #8db600;
}
.right{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}
.form{
    padding: 5%;
    padding-top: 2%;
    width: 90%;
}
.title{
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 50px;
    color: #4a4a4a;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 40px;
}
mat-form-field{
    font-size: 18px;
    width: 35%;
    
    margin-right: 40px;
}
mat-checkbox{
    margin-top: 20px;
    font-size: 20px;
    color: #4a4a4a;
    font-weight: lighter;
}
.initial{
    display: flex;
    flex-direction: row;
}
.action button{
    margin-top: 20px;
    margin-right: 20px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    background-color: #8db600;
    color: #ffffff;
}
.display{
    display: flex;
    flex-direction: row;
}   