body{
    background-color: #588100;
}
.all{
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 1;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff; 
    clip-path: circle(900px at right 800px);
    z-index: 0;
}
.left{
    max-height: 100%;
    padding-top: 10%;
    padding-left: 40px ;
    width: 75%;
}
.left .title{
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 1000;
    font-size: 40px;
    text-transform: uppercase;
}
.left .subtitle{
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;

}
.actions{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 10%;
}
.left button{
    background-color: #ffffff;
    color: #255000;
    padding-left: 35px;
    padding-right: 35px;
    margin-right: 10px;
}
.right{
    display: flex;
    flex-direction: column-reverse;
    width: 125%;
    height: 100vh;
}
.img{
    width: 100%;
}
