<body>
    <div class="circle"></div>
    <div class="all">
        <div class="left">
            <div>
                <h1 class="title">Fondo mi vivienda</h1>
                <h3 class="subtitle">La mejor web para cotizar tus inmuebles, tu nueva vivienda.</h3>
                <div class="actions">
                    <button mat-raised-button routerLink="/login">Login</button>
                    <button mat-raised-button routerLink="/signin">Sign In</button>
                </div>
            </div>
        </div>
        <div class="right">
            <img class="img" src="\assets\pngwing.com (1).png" alt="">
        </div>
    </div>
</body>
